/* Ajustes específicos para forgot-password.html */

.form-content {
    width: 280px;
    margin: 0 auto;
}

#forgot-form button {
    max-width: 200px;        /* MÁS CHICO */
    padding: 10px 20px;       /* REDUCE ALTURA */
    margin: 15px auto 0 auto;
    display: block;
    font-size: 0.85rem;       /* texto un poquito más chico */
}

#forgot-form .input-box {
    width: 100%;
    margin: 0 auto;
}

#forgot-form .input-box input {
    width: 100%;
}
