* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../images/FondoLoginBooksyNegro.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}
.login-box {
  position: relative;
  width: 400px;
  max-width: 95vw;
  min-width: 280px;
  height: 500px;
  border: 1px solid #0c0b0b;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 24px rgba(44, 62, 80, 0.12);
}
h2 {
  color: #000000;
  font-size: 2rem;
  text-align: center;
}
.input-box {
  position: relative;
  width: 95%;
  margin: 30px 0;
  border-bottom: 2px solid #141212;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #000000;
  font-size: 16px;
  transition: all 0.5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #000000;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 57px;
}
.remember-forgot {
  color: #000000;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label,
.remember-forgot a {
  margin: -15px 0 15px 0;
}
.remember-forgot label input {
  margin-right: 3px;
}
.remember-forgot a {
  color: #070101;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}

button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  display: block; 
  margin: 0 auto;
  background-color: #2b598f;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.link {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #0a0606;
  text-align: center;
}
.link p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.link p a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  body {
    justify-content: center !important;
    align-items: center !important;
    background-size: cover !important;
  }
.login-box {
    width: 98vw !important;
    min-width: 0 !important;
    max-width: 98vw !important;
    height: auto !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin: 20px auto !important;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-box {
    width: 90vw !important;
    min-width: 0 !important;
    border-bottom: 2px solid #0a0707;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 95% !important;
    min-width: 0 !important;
    border-bottom: 2px solid #0a0707;
    display: block;
    margin: 0 auto;
}
}