/* Ajustes específicos para reset-password.html */

.form-content {
    width: 280px;
    margin: 0 auto;
}

#reset-form button {
    max-width: 200px;        /* Botón más chico */
    padding: 10px 20px;
    margin: 15px auto 0 auto;
    display: block;
    font-size: 0.85rem;
}

#reset-form .input-box {
    width: 100%;
    margin: 0 auto;
}

#reset-form .input-box input {
    width: 100%;
}
